/* Header and Footer */
header, footer {
  background-color: #022b3a;
  color: #ffffff;
}

header {
  display: flex;
  padding: 20px 20% 20px 20%;
  align-items: center;
  gap: 5%;
}

header p:nth-child(1) {
  font-size: 64px;
  margin: 0;
}

header p:nth-child(2) {
  font-size: 32px;
  margin: 0;
}

footer {

}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 50vw;
    width: 50vw;
    border: 3px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(225, 216, 216) , rgb(115, 115, 248));
    text-align: center;
    color: white;
    font-size: 3vw;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .map_box{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .box{
    margin: 0 auto;
    background-color: beige;
    border-radius: 10px;
    border-color: green;
    text-align: center;
    width: 75%;
    padding: 1.5%;
}
p{
    font-size: 1.2rem;
}
.goButton{
    border: none;
    background-color: blue;
    width: 10rem;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: bold;
}
.goButton:hover{
    cursor: pointer;
    background-color: purple;
}
.isVisible{
    display: block;
}
.notVisible{
    display: none;
}